@{
    ViewBag.Title = "About";
}
<div class="h-90 bg-black">
    <div class="row no-gutters bg-black">
        <div class="col-xl-4 d-none d-xl-block">
            <img src="~/Content/Pics/CroppedClip.gif" class="img-fluid w-100 h-90" />
        </div>
        <div class="col-6 col-xl-3">
            <div class="row">
                <div class="col-12 mt-3">
                    <h3 class="text-center text-white aadhunik font-weight-bold">STORYLINE<br />(THE PLOT THICKENS...)</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 custom-border one-cell my-3 overflow-auto">
                    <h3 class="text-center text-info my-3 aadhunik font-weight-bold">PERSONAL HISTORY:</h3>
                    <p class="text-white">
                        Originally studied at J Sargeant Reynolds as a designer, my journey rapidly progressed into the development world for all things web.
                        The route seemed pretty clear, here's the basics on HTML, CSS, and a little bit of Javascript...now off you go!  While finishing my 
                        degree at University of Richmond, I pursued Freelance contracts while working as either a bar or kitchen manager (often both) or running
                        across town as a delivery driver.  It rapidly became clear that while design was pretty, but what people really needed was development 
                        and "proof of concept".  I quickly decided that I didn't want to simply sketch it out, I needed to build it and make it real!  The original plan was
                        to relate my food service management experience to the development world with an IT Management degree and by the time class was over, I thought 
                        I would be well on my way to becoming a Project Manager. Oh how wrong I was!  I had no idea that this dream was about to evolve into all sorts of 
                        entreprenuerial endeavors!
                    </p>
                    <p class="text-white">
                        It didn't take long to discover the appeal of Wordpress for the budding blogger, and shortly thereafter the massive Responsive Web Design
                        push began to pick up as more and more sites wanted mobile versions as smartphones became increasingly available.  Remember how back in the day
                        everything had a m.whatever URL? The beginning was busy! This was especially true in the days before everyone knew about JQuery and Bootstrap!  Learned a lot about DOM
                        management and raw media queries during that time, coupled with PHP and the LAMP stack, plus full time work; no doubt the plate was definitely full!
                    </p>
                    <p class="text-white">
                        When the "Wordpress Mills" came to power, I decided to step back a bit and travel, seeking a little inspiration abroad.  After a few years it became clear to me
                        that the real power lies in the data.  When I decided it was time to step back into the ring, I sought out some Full Stack knowledge.  It simply didn't make any sense 
                        knowing just enough PHP to tweak a theme anymore.  At the time it seemed that the entire business world was running on the Microsoft Stack, so I signed up to really dig 
                        into SQL databasing and C#.  I wish I had done this sooner!  All of the sudden I knew that at the core, all languages are essentially the same because the LOGIC is the same. A computer 
                        doesn't care! A loop will always a loop, a switch a switch, if else if else.  The only real difference is nuance, variable declaration (strict vs loose), and time managment (scaffolding is awesome!).
                    </p>
                    <p class="text-white">
                        With that frame of reference, everything just sort of clicked.  I finally began to understand that there truly are no limits!  To be certain to keep up to date, Cloud Computing 
                        was the next obvious step.  After completing an AWS certification and hosting a few projects myself, I saw some "Real Time" web issues that could be resolved using 
                        Microsofts SignalR rather than trying to force NodeJS to behave properly within AWS's security stressed infrastructure.  This leads us to Azure, where I currently host a long term 
                        personal pet project.  The point being, even the sky isn't the limit anymore.  We have collectively stepped into the Cloud!  Who knows where we will end up in the next few years?!?
                    </p>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="col-6 col-xl-5">
            <img src="~/Content/Pics/Avatar.gif" class="img-fluid w-100 h-90 d-block" />
        </div>
    </div>
</div>