@{
    ViewBag.Title = "Contact";
}
<div class="h-90 bg-black">
    <div class="row no-gutters bg-black">
        <div class="col-xl-4 d-none d-xl-block">
            <img src="~/Content/Pics/CroppedClip.gif" class="img-fluid w-100 h-90" />
        </div>
        <div class="col-6 col-xl-3">
            <div class="row">
                <div class="col-12 mt-3">
                    <h3 class="text-center text-white aadhunik font-weight-bold">CONTACT INFO<br />(SOLICITORS WELCOME!)</h3>
                </div>

                <div class="col-1"></div>
                <div class="col-10 custom-border mh-50 my-3">
                    <h3 class="text-center text-info my-3 aadhunik font-weight-bold">PLATFORM ALIASES:</h3>
                    <ul class="pl-3 text-white">
                        <li>EMAIL:<br /><a href="mailto:spears.ns@gmail.com">spears.ns@gmail.com</a></li>
                        <li>LOCATION:<br /><p class="text-primary mb-0">Albuquerque, NM</p></li>
                        <li>TIME ZONE:<br /><p class="text-primary mb-0">Mountain (GMT-6)</p></li>
                        <li>LINKEDIN:<br /><a href="https://www.linkedin.com/in/nicholas-spears-44917552/">linkedin.com/in/nicholas-spears-44917552</a></li>
                        <li>GITHUB:<br /><a href="https://www.github.com/spearsns">spearsns</a></li>
                        <li>STACK OVERFLOW:<br /><a href="https://stackoverflow.com/users/3689143/nixondisnrva">nixondisnrva</a></li>
                        <li>UPWORK:<br /><a href="https://www.upwork.com/freelancers/~01f27eee9c7cff1f2a">Nicholas S</a></li>
                        <li>FIVERR:<br /><a href="https://www.fiverr.com/users/spearsns">spearsns</a></li>
                    </ul>
                </div>
                <div class="col-1"></div>

            </div>
        </div>
        <div class="col-6 col-xl-5">
            <img src="~/Content/Pics/Avatar.gif" class="img-fluid w-100 h-90 d-block" />
        </div>
    </div>
</div>