@{
    ViewBag.Title = "Home Page";
}

<div class="row no-gutters bg-black">
    <div class="col-6 col-xl-7">
        <img src="~/Content/Pics/FullClip.gif" class="img-fluid w-100 h-90 d-block" />
    </div>
    <div class="col-6 col-xl-5">
        <img src="~/Content/Pics/Avatar.gif" class="img-fluid w-100 h-90 d-block" />
    </div>
</div>