@{
    ViewBag.Title = "Home Page";
}

<div class="row no-gutters bg-black">
    <div class="col-1 col-xl-2 bg-black"></div>
    <div class="col-6 embed-responsive embed-responsive-4by3">
        <video class="embed-responsive-item" style="object-fit: fill;" autoplay muted loop>
            <source src="~/Content/Clips/FuturisticGraphicsSet-Blue.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="col-5 col-xl-4">
        <img src="~/Content/Pics/DA-Mx-1200x1200.jpg" class="img-fluid w-100 h-90 d-block" />
    </div>
</div>