@{
    ViewBag.Title = "Links";
}
<div class="h-90 bg-black">
    <div class="row no-gutters bg-black">
        <div class="col-xl-4 d-none d-xl-block">
            <img src="~/Content/Pics/CroppedClip.gif" class="img-fluid w-100 h-90" />
        </div>
        <div class="col-7 col-xl-3">
            <div class="row">
                <div class="col-12 mt-3">
                    <h3 class="text-center text-white aadhunik font-weight-bold">SUCCESSFUL PROJECTS<br />(CURRENTLY LIVE)</h3>
                </div>

                <div class="col-1"></div>
                <div class="col-10 custom-border mh-20 mt-3">
                    <h3 class="text-center text-info my-3 aadhunik font-weight-bold">MICROSOFT AZURE:</h3>
                    <ul class="pl-3">
                        <li><a href="https://theaftermath.games">THEAFTERMATH.GAMES</a></li>
                    </ul>
                </div>
                <div class="col-1"></div>

                <div class="col-1"></div>
                <div class="col-10 custom-border mh-20 mt-3">
                    <h3 class="text-center text-info my-3 aadhunik font-weight-bold">AMAZON WEB SERVICES:</h3>
                </div>
                <div class="col-1"></div>

                <div class="col-1"></div>
                <div class="col-10 custom-border mh-20 my-3">
                    <h3 class="text-center text-info my-3 aadhunik font-weight-bold">HOSTED TRADITIONALLY:</h3>
                </div>
                <div class="col-1"></div>

            </div>
        </div>
        <div class="col-5">
            <img src="~/Content/Pics/Avatar.gif" class="img-fluid w-100 h-90 d-block" />
        </div>
    </div>
</div>
