
@{
    ViewBag.Title = "Projects";
}
<div class="h-90 bg-black">
    <div class="row no-gutters bg-black">
        <div class="col-xl-4 d-none d-xl-block">
            <img src="~/Content/Pics/CroppedClip.gif" class="img-fluid w-100 h-90" />
        </div>
        <div class="col-7 col-xl-3">
            <div class="row">
                <div class="col-12 mt-3">
                    <h3 class="text-center text-white aadhunik font-weight-bold">CURRENT PROJECTS<br />(UNDER CONSTRUCTION)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 custom-border tri-cell mt-3">
                    <h3 class="text-center text-info my-3 aadhunik font-weight-bold">FIVERR:</h3>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 custom-border tri-cell mt-3">
                    <h3 class="text-center text-info my-3 aadhunik font-weight-bold">UPWORK:</h3>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 custom-border tri-cell my-3">
                    <h3 class="text-center text-info my-3 aadhunik font-weight-bold">PRIVATE:</h3>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="col-5">
            <img src="~/Content/Pics/Avatar.gif" class="img-fluid w-100 h-90 d-block" />
        </div>
    </div>
</div>
